#home {
  height: 500px;
  background-image: url("/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: 1552px 650px;
  opacity: "0.3";
}
#message {
  background-image: url("https://media.istockphoto.com/id/1419844586/vector/stem-blue-horizontal-frame-vector-education-bright-illustration.jpg?s=612x612&w=0&k=20&c=-A1eYLYulujNsiM26lkVy7qMT_Hp82N5EtKHSFRmigk=");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 30px;
}
