#logo{
    
    background-image: url("logo.png");
    background-repeat: no-repeat;
        background-size:300px 175px;
         

        grid-area: 3/4/4/6;
        text-align: end;
        padding-right: 100px;
        padding-top: 30px;
}
#facebook{
    grid-area: 2/6/3/7;
    padding-top: 35px;
}
#mail{
    grid-area: 2/2/3/3;
}
#tele{
    grid-area: 2/1/3/2;
}
#location{
    padding-left: 40px;
 grid-area: 2/6/3/7;
    padding-top: 35px;
}
